.container{
    position:relative;
}
.center {
    display:flex;
    margin : auto ;
    width: 50%;
    justify-content:center;
  }
.my-atropos {
    width: auto;
    height: auto;
    display: block;
   
  }
body{
    background-color: rgb(167, 229, 252);
}
.container.btnshow{
    position: absolute;
    bottom: 10px;
	left: 200px;
}


